@import '/node_modules/bootstrap/scss/bootstrap.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* GENERAL */
img{
    width: 100%;
}
/* UTILITIES */
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}